<h2>Hero Detail</h2>
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="heroForm" novalidate>
  <div class="form-group">
    <label for="" class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div formGroupName="address" class="well well-lg">
    <h4>Secret Lair</h4>
    <div class="form-group">
      <label for="" class="center-block">Street:
        <input class="form-control" formControlName="street">
      </label>
    </div>
    <div class="form-group">
      <label for="" class="center-block">City:
        <input class="form-control" formControlName="city">
      </label>
    </div>
    <div class="form-group">
      <label for="" class="center-block">state:
        <input class="form-control" formControlName="state">
      </label>
    </div>
    <div class="form-group">
      <label for="" class="center-block">Zip code:
        <input class="form-control" formControlName="zip">
      </label>
    </div>
  </div>
  <div class="form-group radio">
    <h4>Super power:</h4>
    <label class="center-block">
      <input type="radio" formControlName="power" value="flight">
      Flight
    </label>
    <label class="center-block">
      <input type="radio" formControlName="power" value="x-ray vision">
      x-ray vision
    </label>
    <label class="center-block">
      <input type="radio" formControlName="power" value="strength">
      Strength
    </label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">
      I have a sidekick
    </label>
  </div>
</form>
<p>Form value: {{heroForm.get('address.street').value}}</p>
<p>Form status {{heroForm.status | json}}</p>
